:root {
  --color-white-background: #ffffff;
  --color-lightBlue-background: #f3fcff;
  --color-card-background: #f6f6f6;

  --color-border: #e2e2e2;

  --color-dark: #000000;
  --color-light: #f3fcff;
  --color-blue: #001ac2;
  --color-grey: #8c8c8c;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-dark);
}

.container {
  max-width: 1380px;
  padding: 0 30px;
  margin: 0 auto;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 35px;
}

.button {
  display: inline-block;
  background-color: var(--color-blue);
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-light);
  text-transform: uppercase;
  transition: opacity 0.15s ease-in-out;

  &:disabled {
    background-color: var(--color-grey);
  }

  &:hover:not(:disabled) {
    opacity: 0.7;
  }
}
