.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-card {
  border: 1px solid var(--color-border);
  background-color: var(--color-white-background);
}

.product-card-img {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-content {
  padding: 19px 20px 29px 20px;
  background-color: var(--color-card-background);
  border-top: 1px solid var(--color-border);
  display: grid;
  gap: 13px;
  text-align: center;
}

.product-card-button {
  padding: 10px 43px;
}
